body{
  background: #BDFFC9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #59AE7F;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a{
  color: #91CED7;
  text-decoration: none;
}

a:hover{
  color: #5895C9;
  text-decoration: none;
}

.card{
  width: 500px;
  background: white;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

#img-profile{
  width: 100px;
  height: 100px;
}
